/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="compass/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "compass/reset";
@import "compass/css3/flexbox";

$black: #000000;
$white: #ffffff;
$turquoise: #1abc9c;
$emerald: #2ecc71;

$large: "(min-width: 56em)";
$small: "(max-width: 56em)";

body {
	font-family: 'nunito', sans-serif;
	font-weight: 300;
}

header {
	background: $turquoise;
	color: rgba($black,0.65);
}

.wrapper {
	padding: 4rem 1rem;
	@media #{$large} {
		padding: 4rem 2rem;
	}
}
header, section, nav {

}

.top {
	@media #{$large} {
		@include display-flex();
   		@include flex-direction(row);
   		//@include justify-content(space-between);
   		@include align-items(stretch);
	}

	section, header {
		@include flex(1);
	}
	section {
		min-height: 400px;
		background-position: center;
		position: relative;
		&:after {
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			@include background-image(linear-gradient(to bottom, transparent, $emerald));
			opacity: 0.5;
		}
	}
}

nav {
	ul {
		@media #{$large} {
			@include display-flex;
		}
	}
}

h1, h2 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: 1.333rem;
}

h1 {
	font-size: 1.777em;
}

h2 {
	font-size: 2.369em;
	word-wrap: break-word;
}

strong {
	font-weight: 400;
}

p {
	font-size: 1.333em;
	margin-bottom: 1.333rem;
	line-height: 1.333;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}