@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #fff; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

b,
strong {
  font-weight: bold; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul,
ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

img {
  height: auto;
  max-width: 100%; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

::selection {
  background: #60b8c5;
  color: #fff; }

::-moz-selection {
  background: #60b8c5;
  color: #fff; }

::-webkit-input-placeholder {
  color: #60b8c5; }

:-moz-placeholder {
  color: #60b8c5; }

::-moz-placeholder {
  color: #60b8c5; }

:-ms-input-placeholder {
  color: #60b8c5; }

h1, h2 {
  font-weight: 400; }

h1 {
  font-size: 3rem;
  color: #298796;
  margin-bottom: 2rem;
  line-height: 1; }
  h1:after {
    content: "–";
    display: block; }

h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 2.1rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.2rem; }

h6 {
  font-size: 0.9rem; }

p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem; }
  p:first-of-type {
    margin-top: 0; }

p, a, ul, li {
  font-size: 1.8rem; }

a, button, input {
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  -ms-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out; }

.button, input {
  padding: 1rem 1.5rem;
  display: inline-block;
  background: #60b8c5;
  border: 0;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 0.5px; }
  .button:hover, input:hover {
    background: #298796; }
  .mailchimp .button, .facebook .button, .mailchimp input, .facebook input {
    margin-left: 1rem; }
  header .button, header input {
    padding: 1.5rem 2rem; }
  @media all and (max-width: 37em) {
    .button, input {
      margin-top: 0.5rem; } }

form {
  text-align: left; }
  @media all and (max-width: 37em) {
    form {
      text-align: center; } }

input {
  background: white;
  font-size: 1.4rem; }
  input.button {
    font-size: 1.4rem;
    font-family: "Nunito", arial, sans-serif;
    -webkit-appearance: none; }
    input.button:hover {
      pointer: cursor;
      background: #f34f1c; }
  input.email {
    width: 70%;
    margin: 0;
    font-family: "Nunito", arial, sans-serif;
    font-weight: 300; }
    @media all and (max-width: 37em) {
      input.email {
        width: 90%; } }

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Nunito", arial, sans-serif;
  font-weight: 300; }

.wrapper {
  padding: 4% 8%;
  max-width: 80em;
  margin: 0 auto;
  overflow: auto; }
  @media all and (max-width: 37em) {
    .wrapper {
      padding: 10% 8%; } }

.coworking .wrapper {
  padding: 6% 8% 0 8%;
  max-width: 35em;
  margin: 0 auto; }

.coworking p, .coworking li, .jelly p, .jelly li {
  font-size: 1.6rem; }
.coworking img, .jelly img {
  border-radius: 10px; }

header {
  text-align: center;
  min-height: 99vh;
  width: 100%;
  display: table;
  position: relative; }
  header:after {
    position: fixed;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    z-index: -2;
    background: #f8f8f8;
    background-image: url("/background2.jpg");
    background-repeat: no-repeat;
    background-position: center center; }
  header .wrapper {
    z-index: 0;
    display: table-cell;
    vertical-align: middle;
    position: realtive; }
  header .intro {
    max-width: 35em;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.5); }

.rsvp, .comments {
  color: white;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  font-weight: 400; }

.mailchimp, .facebook {
  background: #d0eaee; }
  .mailchimp .wrapper, .facebook .wrapper {
    padding: 2% 8%; }
    @media all and (max-width: 37em) {
      .mailchimp .wrapper, .facebook .wrapper {
        padding: 5% 8%; } }
  .mailchimp p, .mailchimp a, .facebook p, .facebook a {
    font-size: 1.4rem; }
  .mailchimp .button, .facebook .button {
    background: #f6754c; }
    .mailchimp .button:hover, .facebook .button:hover {
      background: #f34f1c; }

main {
  background: white; }

.mailchimp .wrapper {
  text-align: center; }

footer {
  text-align: center;
  background: #f8f8f8;
  background-image: url("background.png");
  background-position: 20px 60px; }
  footer .button {
    margin-bottom: 3rem; }
    @media all and (max-width: 37em) {
      footer .button {
        font-size: 1.4rem; } }
  footer .wrapper {
    padding: 6% 8%; }

.comments {
  color: white;
  text-shadow: 0px 0px 4px #298796;
  font-weight: 400;
  letter-spacing: 0.5px; }

.emailus {
  margin-bottom: 0.5rem;
  color: #298796;
  font-weight: 400; }

.jelly ul {
  vertical-align: middle; }
  @media all and (max-width: 37em) {
    .jelly ul {
      margin: 0 0 2.4rem 2rem; }
      .jelly ul li {
        padding-bottom: 0.5rem; } }
.jelly a {
  color: inherit;
  font-size: 1.2rem;
  padding: 0 5px; }
.jelly span {
  font-weight: 400; }

@media all and (min-width: 62.5em) {
  form {
    width: 50%;
    float: left; }

  .wrapper div {
    float: left;
    width: 50%;
    display: border-box; }

  .coworking .wrapper {
    padding: 6% 0 0 0; }

  .mailchimp .wrapper {
    overflow: auto; }
    .mailchimp .wrapper p {
      float: left;
      width: 50%;
      margin: 0; }

  .facebook .wrapper {
    text-align: center; }

  .mailchimp p, .facebook p {
    margin: 0; }

  .button {
    display: inline-block; }

  .image {
    padding-left: 12%; }

  li:first-of-type {
    margin-bottom: 1rem; } }
